fastapi
uvicorn[standard]
sqlalchemy
pydantic_settings
PyJWT[crypto]
passlib[bcrypt]
pydantic
alembic
python-dotenv
email-validator
cryptography
google-generativeai
groq
pybreaker
pytest
pytest-asyncio
httpx
python-multipart
psycopg2-binary
streamlit
streamlit-option-menu
